.app {
  display:         flex;
  align-items:     flex-start;
  justify-content: flex-start;
  height:          100%;
}

.main {
  padding-top: 80px;
  margin-left: auto;
  position:    relative;
  min-height:  100%;
  width:       100%;
}