@import "../../../../../assets/scss/variable";

.humansListItem {
  font-size: 1.25rem;
  button {
    width:  35px;
    margin: 3px;
  }
  &Label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor:      pointer;
    user-select: none;
  }
  input {
    border:        1px solid rgba(0, 0, 255, 0.5);
    padding:       0.5rem;
    box-shadow:    none;
    border-radius: 5px;
    line-height:   1;
    background:    transparent;
    width:         calc(100% - 120px);
  }
  input[disabled] {
    border:         1px solid transparent;
    background:     transparent;
    color:          $blackColor;
    pointer-events: none;
  }
  button[disabled] {
    pointer-events: none;
    opacity:        .3;
  }
}
